<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">
    <title>UNCC Notes App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>

<body>
    <div class="topnav">
        <nav>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('get_notes')}}">My Kiwis</a>
            <a href="{{url_for('new_note')}}">Add Kiwi</a>
            {% if user %}
            <a href="{{url_for('logout')}}">Logout</a>
            <div class="topnav-right">
                <a href="{{url_for('accounts')}}">Account</a>
                <a href ="{{url_for('search')}}"> Search</a>
                <input type="searchbox" placeholder="where to?">
            </div>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
        </nav>
    </div>

    <h1>{{ fname }}, use this page to change your name!</h1>

<h1>Account details</h1>

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td>{{ fname }}</td>
                <td>{{ lname }}</td>
            </tr>
        </table>

</html>
