<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="KIWI Discussion Board">
        <title>KIWI</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
      <header>
          <div class = "headers">
              <div class = "homeNav">
                  <h1>KIWI</h1>
                  <!-- NAVIGATION BAR -->
        <nav>
            <ul>
                    <li><a href="{{ url_for('index') }}"> Home</a></li>
                    <li><a href="{{ url_for('new_note') }}"> Create KIWI</a></li>
                    <li><a href="/notes"> View your KIWIS </a></li>
            </ul>
        </nav>
          </div>
          </div>
          <h2><label>Post Your KIWI</label></h2>
      </header>
{% if note %}
       <form action="{{ url_for('update_note' , note_id=note.id) }}" method="post">
{% else %}
        <form action="new" method="post">
{% endif %}
          <p><label>Title </label></p><p>
            <input type="text" name="title" value="{% if note %}{{note.title}} {% endif %}"/></p>
            <p><label>Note </label></p>
            <p>
                <textarea name="noteText" >
                    {% if note %}
                       {{note.text}}
                    {% else %}
                        Add your new note here...
                    {% endif %}
                    </textarea>
            </p>
            <p>
            <h3>
                {% if note %}
                   <input type="submit" value="Update Note"/>
                {% else %}
                   <input type="submit" value="Add Post"/>
                {% endif %}
            </h3>
        </form>
       </form>
    </body>
</html>
