<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">
    <title>UNCC Notes App - New Note</title>
    <!-- styles -->
    <script type="text/javascript" src="static/functions.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="topnav">
        <nav>
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase" href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil" href="{{url_for('new_note')}}"></a>
            {% if user %}
            <div class="topnav-right">
                <a class="fa fa-moon-o" onclick="myFunction()"></a>
                <a class="fa fa-user-o" href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a>
            </div>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
        </nav>
    </div>

    <h1 class="title">{{user}}, It's time to get fruity!</h1>
    {% if note %}
    <form action="{{ url_for('update_note', note_id=note.id)}}" method="post">
        {% else %}
        <form action="new" method="post">
            {% endif %}
            <p><label>Kiwi Subject</label></p>
            <p><input type="text" name="title" value="{% if note %}{{note.title}} {% endif %}" /></p>
            <p><label>Kiwi</label></p>
            <p>
                <textarea name="noteText" rows="6" cols="0">
                {% if note %}
                    {{note.text}}
                {% endif %}

            </textarea>
            </p>
            <p>
                {% if note %}
                <input type="Submit" value="Update Note" />
                {% else %}
                <input type="Submit" value="Kiwi away" />
                {% endif %}
            </p>
        </form>
    </form>
</body>

</html>
