<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Create a KIWI Post</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
       <nav>
           <!--  add navigation links -->

       </nav>
{% if note %}
       <form action="{{ url_for('update_note' , note_id=note.id) }}" method="post">
{% else %}
        <form action="new" method="post">
{% endif %}
            <h1><label>Kiwi Title </label></h1>
            <input type="text" name="title" value="{% if note %}{{note.title}} {% endif %}"/></>
            <h2><label>Kiwi Content </label></h2>
            <p>
                <textarea name="noteText"  rows="10" cols="69" >
                    {% if note %}
                       {{note.text}}
                    {% else %}
                        Get Fruity...
                    {% endif %}
                    </textarea>
            </p>
            <h3>
                {% if note %}
                   <input type="submit" value="Update Note"/>
                {% else %}
                   <input type="submit" value="Add Post"/>
                {% endif %}
            </h3>
        </form>
       </form>
    </body>
</html>
