<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - View your Notes</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}">
    </head>
    <body>
        <div class = "homeNav">
                  <h1>KIWI</h1>
                  <!-- NAVIGATION BAR -->
        <nav>
            <ul>
                    <li><a href="{{ url_for('index') }}"> Home</a></li>
                    <li><a href="{{ url_for('new_note') }}"> Create KIWI</a></li>
                    <li><a href="/notes"> View your KIWIS </a></li>
            </ul>
        </nav>
          </div>
        <h1>Your Posts</h1>

        <table>

            {% for note in notes %}
            <tr>
                <td>
                <td><a href="{{ url_for('get_note', note_id=note.id) }}">{{ note.title }}</a></td>


                <td>
                <td>
                <form>
                    <textarea name="noteText"  rows="10" cols="69" >
                    {% if note %}
                       {{note.text}}
                    {% else %}
                        Get Fruity...
                    {% endif %}
                    </textarea>
                </form>


                <td>

                <td><a href="{{ url_for('update_note', note_id=note.id) }}">Edit</a></td>

                <td>
                    <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post">
                          <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
