<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - View your Note</title>
        <!-- styless -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </head>
    <div class="topnav">
        <nav>
            {% if user %}
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase"href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil"href="{{url_for('new_note')}}"></a>
            <div class="topnav-right">
                <a class="fa fa-moon-o" onclick="myFunction()"></a>
                <a class="fa fa-user-o"href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a></div>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
        </nav>
    </div>
    <h1>
        {{user}}, here are your fruity Kiwis!
    </h1>
    <body>
    <h2>Vote Here</h2>
    <form> <a class="button3" href="{{ url_for('vote',note_id=note.id) }}">Jump To Voting Page</a></form>


{% if note.comments %}
    {% if note.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
        {% for comment in note.comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}
<form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
    <div class="formwrapper">
    <h2 class="title">Add a comment</h2>
        <div class="form-field">
            {{ form.comment.label }} <br/> {{ form.comment }}
        </div>
    {{ form.submit }}
    </div>
</form>
        <h1>Note details</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.text }}</td>
                <td>{{ note.date }}</td>
            </tr>
        </table>
    <script>
    function myFunction() {
      document.body.style.backgroundColor = "black";
    }
</script>
    </body>
</html>

