<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - View your Note</title>
        <!-- styles -->
        <script type="text/javascript" src="static/functions.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </head>
    <div class="topnav">
        <nav>
            {% if user %}
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase"href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil"href="{{url_for('new_note')}}"></a>
            <div class="topnav-right">
                <a class="fa fa-moon-o" onclick="myFunction()"></a>
                <a class="fa fa-user-o"href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a></div>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
        </nav>
    </div>
    <body>
     <div class="commentsection">
        {% if note.comments %}
    {% if note.comments|length > 0 %}
        <h2>Answers</h2>
        <ul>
        {% for comment in note.comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}
        </div>
        <table>
            <tr>
                <th>Kiwi</th>
                <th>Question</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ note.title }}</td>
                <br>
                <td>{{ note.text }}</td>
                <br>
                <td>{{ note.date }}</td>
            </tr>
        </table>
                <td><a class="button3" href="{{ url_for('voteLike', note_id=note.id) }}">Like This Kiwi!</a>
                <td><a class="button3" href="{{ url_for('voteDislike', note_id=note.id) }}">Dislike This Kiwi!</a>
                </td>
<form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
    <div>
    <h2>Answer the Kiwi</h2>
        <div class="form-field">
            <br/> {{ form.comment }}
        </div>
    {{ form.submit }}
    </div>
</form>
    </body>
</html>

