<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Kiwi Search Header</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    </head>

   <div class="topnav">
        <nav>
            {% if user %}
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase"href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil"href="{{url_for('new_note')}}"></a>
            <div class="topnav-right">
                 <a class="fa fa-moon-o" onclick="myFunction()"></a>
                <a class="fa fa-user-o"href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a></div>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
        </nav>
    </div>
    <body>
      <header>
          <div class = "headers">
              <div class = "homeNav">
                  <!-- NAVIGATION BAR -->
        <nav>

            <form method="POST" action="{{ url_for('search')}}" class="searching">
                {{ form.hidden_tag() }}
                <input class="form-search" type="search" placeholder="Search KIWI's Here" aria-label="Search"
                       name="results">
                <button class="search-btn" type="submit">Search</button>

            </form>
        </nav>
          </div>
          </div>
      </header>


    <br/>
    <h1>Search Results</h1>



    {% for post in posts %}
      {% if post.results == form.results.data %}
    <h3>We Found "{{ results }}" in the following KIWI</h3>
      {% else %}
      <h3>Sorry we were unable to find what you were looking for.</h3>
      {% endif %}

      <dl>
          <dt> <a href="{{ url_for('get_note', note_id=post.id)}}">
      {{ post.title }}</a> </dt>
          <dd>- {{ post.text }}</dd>

      </dl>


    {% endfor %}
<script>
    function myFunction() {
      document.body.style.backgroundColor = "black";
    }
</script>
 </body>
</html>
