<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">
    <title>UNCC Notes App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="topnav">
        <nav>
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase" href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil" href="{{url_for('new_note')}}"></a>
            <div class="topnav-right">
                <a class="fa fa-moon-o" onclick="myFunction()"></a>
                <a class="fa fa-user-o" href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a>
            </div>
        </nav>
    </div>
    <h2 class="title">{{fname}} {{lname}}</h2>
<div class="formwrapper">
            <h2 class="title">Edit Profile</h2>
            <form method="POST" action="">
            <form method="POST" action="/register">
                <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}</div>
                <div class="form-field">{{ form.lastname.label }} {{ form.lastname }}</div>
                {{ form.submit }}
            </form>
            </form>
</div>
<script>
    function myFunction() {
      document.body.style.backgroundColor = "black";
    }
</script>
</body>

</html>
