<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    </head>
    <div class="topnav">
        <nav>
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase"href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil"href="{{url_for('new_note')}}"></a>
            <div class="topnav-right">
                 <a class="fa fa-moon-o" onclick="myFunction()"></a>
                <a class="fa fa-user-o"href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a></div>
        </nav>
    </div>
</div>
<body>
<h1>Votes</h1>
<h3>The maximum Helpfulness Score is 100</h3>
<div>
  <h3>Helpfulness Score</h3>

  </div>

<div class="container">
  <h3>Was this KIWI helpful?</h3>

    <tr>
                <td><a class="button3" href="{{ url_for('voteLike', note_id=note.id) }}">Like This Kiwi!</a>
                <td><a class="button3" href="{{ url_for('voteDislike', note_id=note.id) }}">Dislike This Kiwi!</a>

                </td>
            </tr>
</div>
<script>
    function myFunction() {
      document.body.style.backgroundColor = "black";
    }
</script>
</body>
</html>
