<!DOCTYPE html>
<html lang="en">
<head>
  <title> Good results clicker </title>
  <script type="text/javascript">
    var click =0;
    function ClickCount()
    {
      click+=1
      document.getElementById('count').innerHTML = click;
    }

  </script>
  <style type="text/css">
  div
  {
    width:1520px;
    height:300px;
    background-color:green;
    text-align:center;
  }
  span { font-size:150pt; }

  </style>
</head>
<body>
<div onclick="ClickCount()"><span id = "count"></span></div>


<div class="container">
  <h2>Votes</h2>
  <h3>Was this KIWI helpful?</h3>
  <button>Yes!</button>
  <button>No!</button>

</div>
</body>
</html>
