<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <script src="static/meow.js"></script>
    </head>
    <div class="topnav">
        <nav>
            {% if user %}
            <a class="fa fa-home" href="{{url_for('index')}}"></a>
            <a class="fa fa-briefcase"href="{{url_for('get_notes')}}"></a>
            <a class="fa fa-pencil"href="{{url_for('new_note')}}"></a>
            <div class="topnav-right">
                <a class="fa fa-user-o"href="{{url_for('get_accounts')}}"></a>
                <a class="fa fa-power-off" href="{{url_for('logout')}}"></a></div>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
        </nav>
    </div>
</div>
<body>
<h1>Votes</h1>
<h3>The maximum Helpfulness Score is 100</h3>
<div>
  <h3>Helpfulness Score</h3>
  <span id = "count"></span>
  </div>

<div class="container">
  <h3>Was this KIWI helpful?</h3>
  <button onclick="NotHelpfulCount()">Not Very helpful</button>
  <button onclick="KindaHelpfulCount()">Kinda Helpful</button>
  <button onclick="HelpfulCount()">Helpful</button>
  <button onclick="SuperHelpfulCount()">Super helpful</button>
</div>
</body>
</html>
