/* Navigation Bar */
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
/* hover function */
ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
ul li:hover {
    background: grey;
    box-shadow: 2px 2px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
}

.headers {
    background-color: #8ee53f;
}

.homeNav {
    display: flex;
    padding: 15px;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}

.headerNote {
    font-family: 'Work Sans', sans-serif;
    color: black;
}

body {
    background-color: grey;
}

/* End Navigation Bar */
