body {
    padding: 30px 30px;
    background: light grey;
    }
h1{
    color: #50C878;
}
h2{
    color: #50C878;

}
/* Add a black background color to the top navigation */

.topnav {
  background-color: #50C878;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4095c6;
  color: white;
  transition: all 0.4s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #50C878;
  color: white;
}
/* account button */
.topnav-right {
  float: right;
}
/* search feature */
.searchStuff {
  float: right;
}

/* Kiwi interactive buttons */
a.button3{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color: #50C878;
text-align:center;
transition: all 0.2s;
}
a.button3:hover{
background-color:#4095c6;
}
button3:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
@media all and (max-width:30em){
a.button3{
display:block;
margin:0.2em auto;
}
}
/* search bar style */
.topnav input[type=searchbox] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  display: inline-block;
}

#onhoveraccount{
visibility: hidden;
}
#accounticon:hover ~ #onhoveraccount{
visibility: visible;
}

#onhoverhome{
visibility: hidden;
}
#homeicon:hover ~ #onhoverhome{
visibility: visible;
}

#onhoverlogout{
visibility: hidden;
}
#logouticon:hover ~ #onhoverlogout{
visibility: visible;
}
/* comments section */
.commentsection {
position: absolute;
  left: 750px;
}
  {
    width:100%;
    height:300px;
    background-color:#50C878;
    text-align:center;
  }
  span { font-size:150pt; }

body {
  padding: 25px;
  background-color: #F5F5F5;
  color: black;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

.dark-mode {
  background-color: #282828;
  color: white;
}
.RegisterPage{
float: right;
}
.ul {
font-size: 15px;
  font-family: Helvetica, sans-serif;

}
.acct {
font-size: 25px;
  font-family: Helvetica, sans-serif;
  color: #787878
}


