body {
    padding: 30px 30px;
    background: light grey;
    }
h1{
    color: #50C878;
}
h2{
    color: #50C878;
    background: white;
}
/* Add a black background color to the top navigation */

.topnav {
  background-color: #50C878;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #50C878;
  color: white;
}
/* account button */
.topnav-right {
  float: right;
}
